@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

.background-container{
    width: auto;
    height: auto;
    max-height: 900;
    max-width: 1920;
}

.eventBackground{
    box-sizing: border-box;
    width: 97vw;
    max-height: 600px;
    padding: 10px;
}

.eventsContainer{
    display: flex;
    width: auto;
    height: 800px;
    max-width: 1900px;
    flex-wrap: wrap;
}
.eventContainer{
    width: 300px;
    height: 370px;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.eventImages{
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 150px;
}
.eventName{
    color: orangered;
    font-size: 18px;
    max-width: 250px;
}
.eventDescription{
    font-size: 14px;
    max-width: 250px;
}
