@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');

.background-container{
    width: auto;
    height: auto;
    max-height: 900;
    max-width: 1920;
}
.eventBackground{
    box-sizing: border-box;
    width: 97vw;
    max-height: 600px;
    padding: 10px;
}
.eventsContainer{
    display: flex;
    width: auto;
    height: 800px;
    max-width: 1900px;
    flex-wrap: wrap;
}
.eventContainer{
    width: 300px;
    height: 370px;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.eventImages{
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 150px;
}
.eventName{
    color: orangered;
    font-size: 18px;
    max-width: 250px;
}
.eventDescription{
    font-size: 14px;
    max-width: 250px;
}
.createEventContainer{
    max-width: 500px;
}
.create-background{
    position: absolute;
    left: 520px;
    z-index: 0;
    border-radius: 30px;
}
.create-label{
    width: 500px;
    border-radius: 20px;
}
.create-label-d{
    width: 502px;
    border-radius: 20px;
}
.create-label-t{
    width: 502px;
    border-radius: 20px;
}
.create-input{
    width: 500px;
    border-radius: 20px;
}
.create-btn{
    width: 509px;
    border-radius: 20px;
}
.create-form{
    position: absolute;
    display: grid;
    align-items: center;
    z-index: 0;
}
.updateEventContainer{
    max-width: 500px;
}
.update-background{
    position: absolute;
    left: 520px;
    z-index: 0;
    border-radius: 30px;
}
.update-label{
    width: 500px;
    border-radius: 20px;
}
.update-label-d{
    width: 502px;
    border-radius: 20px;
}
.update-label-t{
    width: 502px;
    border-radius: 20px;
}
.update-input{
    width: 500px;
    border-radius: 20px;
}
.update-btn{
    width: 509px;
    border-radius: 20px;
}
.update-form{
    position: absolute;
    display: grid;
    align-items: center;
    z-index: 0;
}
.singleEventBackground-container{
    position: absolute;
    left: 520px;
    z-index: 0;
    border-radius: 30px;
}
.singleEvent-container{
    position: absolute;
    display: grid;
    align-items: center;
    z-index: 0;
}
.singleImage{
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}
.singleInputs{
    width: 502px;
    font-size: 20px;
}
