@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');
.nav{
    align-content: flex-end;
}
.profilebtn{
    float:right;
}
.profile-dropdown{
    float:right;
}
.signupBtn{
    float: right;
}
.createBtn{
    float: right;
}
