@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');
.login-btn-nav{
    position: relative;
    float: right;
}
.login-submit{
    height: 200px;
    width: 255px;
    background-color: white;
    display: grid;
}
.login-label{
    margin-left:50px;
}
.loginsubmit{
    margin-left: 50px;
    width: 152px;
}
.demosubmit{
    margin-left: 50px;
    width: 152px;
}
